{% extends 'base.html' %}

{% block content %}
<div class="container text-center"> <br/><br/>
    <h1>About Us</h1> <br/>
        <h2>A HISTORY OF THE ROCKPORT CHURCH OF CHRIST</h2><br/>
            <div class="text-left">
                <p>
                    The Rockport Church of Christ has, for nearly one hundred years, had a part in the influence, growth and progress of
                    this area. According to Aransas County Court House records, on December 13, 1913, one James M. Percival, did at a
                    private sale sell to W.D.L. Dye, Dr. O.F. Bonham and G.W. Manship, trustees for the Congregation of the church of
                    Christ, lots 11 and 12, in block 26 of the Smith and Woods Division of the City of Rockport, Texas. </p>

                 <p>On June 17, 1940, the church building belonging to the First Christian Church was purchased by the church of Christ
                    to be moved within a reasonable time to the purchased lots. On February 4, 1952, the church of Christ in Rockport
                    purchased lots thirteen (13) and fourteen (14) in Block Twenty-six (26) in the Smith and Woods division for
                    additional expansion. The building at 801 Mimosa was built in 1954. A preachers home was built in Fulton in 1965.
                     The church structure was remodeled and enlarged in 1970. </p>

                  <p>April 2nd, 1978 it was announced that a new church building would begin construction on April 3rd on four acres of
                    land purchased at 1520 Omohondro. The 14,000 square foot structure is nestled among the natural live oak trees which
                    add to the attractiveness of the building. This energy efficient facility contains a minister's study, secretarial
                    office, conference space for elders, deacons and various committees, ten class rooms, including nursery and cradle
                    roll ages, a teachers workroom and fellowship area with a seating area for about 200 which can easily convert into
                    four additional classrooms. The Auditorium will seat 504 Worshipers. The building has been designed to permit
                    enlargement of the structure as future growth warrants such. The black-top parking lot has ample parking space and
                    was debt free in less than ten years.
                </p>
            </div>
</div>
{% endblock %}